---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Untuk Pemula",
    description:
      "androidsprint.id cocok untuk pemula*, kamu akan mempelajari cara membangun aplikasi multiplatform dari dasar.",
    icon: "bx:bxs-face",
  },
  {
    title: "Intim",
    description:
      "Study group, dilaksanakan selama 4x pertemuan, kamu akan mempelajari KMP secara komprehensif.",
    icon: "bx:bxs-data",
  },
  {
    title: "Terkini",
    description:
      "Topik terkini seputar KMP akan kamu pelari, dari setup, mengolah data, hingga publikasi* aplikasi.",
    icon: "bx:bxs-bookmark",
  },
  // {
  //   title: "Broad Integration",
  //   description:
  //     "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
  //   icon: "bx:bxs-bot",
  // },
  // {
  //   title: "SEO Enabled",
  //   description:
  //     "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
  //   icon: "bx:bxs-file-find",
  // },
  // {
  //   title: "Community",
  //   description:
  //     "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
  //   icon: "bx:bxs-user",
  // },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Hal yang kamu akan pelajari di androidsprint.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    sebuah <i>private learning session</i> untukmu yang ingin belajar cara membangun aplikasi mobile multiplatform menggunakan KMP. <wbr/> 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
