---
import { Picture } from "astro:assets";
import heroImage from "assets/overview.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      belajar cepat, topik terkini, untuk semua.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Kalibrasi pengetahuan mobile-mu, menggunakan <i><b>kotlin multiplatform</b></i> untuk membangun aplikasi disemua <i>form factors</i>.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://forms.gle/ytd4jRyHgF3xmJS67"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-send" />

         Daftar Sekarang
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/syllabus"
        class="flex gap-1 items-center justify-center">
         Syllabus
      </Link>
    </div>
  </div>
</main>
